@{
    ViewData["Title"] = "Chat Online";
}

<div class="text-center mt-5">

    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid">
            <div class="input-group">
                <span class="input-group-text">Find your friend </span>
                <input type="text" class="form-control" placeholder="Friend name" />
            </div>
        </form>
    </nav>

</div>
